@tailwind base;
@tailwind components;
@tailwind utilities;



.eventImage {
  border-radius: 14px;
}

.bannerImage {
  border-radius: 14px;
}

.profileImage {
  border-radius: 100%;
}

.swiper-pagination-bullet-active {
  color: #fff !important;
  background: #10b981 !important;
}

.infoBox{
  width:100%;
  height: 200px;
  border: 1px solid #BCC3BD;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoGray{
  color: #718176;
}


.max-w-8xl {
  max-width: 85rem;
}

.footer-grid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}