@tailwind base;
@tailwind components;
@tailwind utilities;

.containerCredits {
  box-shadow: 0px 3px 3px #e5e5e5;
}

.creditsEvents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.creditsEvents span {
  padding-right: 4px;
}

.hand1 {
  border-radius: 20% !important;
}

.hand1:hover {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(0.6);
}

.botton_navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* TODO  Export icons in svg from figma and insert inside project */
.homeIcon:hover, .infoIcon:hover, .heartIcon:hover, .workIcon:hover, .heartIcon:hover, .searchIcon:hover {
  transition: 0.2s;
  color: #1F2937;
}

.welcome-map {
  padding-top: 62px;
}

.eventImage {
  border-radius: 14px;
}

.bannerImage {
  border-radius: 14px;
}

.profileImage {
  border-radius: 100%;
}

.swiper-pagination-bullet-active {
  color: #fff !important;
  background: #10b981 !important;
}

.infoBox{
  width:100%;
  height: 200px;
  border: 1px solid #BCC3BD;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoGray{
  color: #718176;
}

.max-w-8xl {
  max-width: 85rem;
}

.footer-grid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Media Query */
@media only screen and (min-width: 329px) and (max-width: 1281px) { 
  .homeIcon, .heartIcon, .infoIcon, .workIcon, .searchIcon {
    width: 22px !important;
    height: 22px !important;
  }
  .welcome-section{
    font-size: 29px !important;
  }
  
  .welcome-subtitle {
    font-size: 18px !important;
    padding: 33px !important;
  }
  .user-active {
    font-size: 29px !important;
  }
  .workwithus {
    font-size: 29px !important;
  }
  .welcome-map {
    font-size: 29px !important;
  }
}

.facebook_text {
  font-weight: 600; 
  font-size: 33px;
  width: 60% 
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  .facebook_text {
    font-weight: 600; 
    font-size: 33px;
    width: 100% 
  }
  .luogoSpan {
    margin: 0 auto;
  }
  .creditsEvents {
    display: flex;
    flex-flow: column;
}
}

.facebook_text_grid_width{
  width: 50%
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
  .facebook_text_grid_width{
    width: 100%
  }
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  .hide_mobile{
    display: none;
  }
}
.view_mobile{
  display: none;
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
  .view_mobile{
    display: block;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .tabText {
    font-size: 12px;
  }
}

/* Footer */
.fbicon {
  cursor: pointer;
}

/* Event Detail */
.categoryContainer img {
  width: 22px;
}

.categoryContainer {
  padding: 5px 20px;
}

.buttonMaps {
  margin-top: 16px;
  background: #10B981;
  width: 200px;
  color: white;
  display: flex;
  justify-content: center;
}

.buttonMaps:hover {
  transition: 0.2s;
  background: #C7FDE5;
  color: #10B981;
  transform: scale(0.95);
}

/* Header */
.header {
  box-shadow: 0 6px 5px #0000001a;
}

img.betaLabel {
 padding-left: 5px !important;
 padding-top: 10px !important;
}

.cards {
  border-radius: 8%;
}

.iconCategory {
  width: 24px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}